<html ng-app="funsies">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <body>
    <div class="container">
	    <h1>IS FRED'S SHIRT BLACK TODAY?</h1>
	    <div class="row">
				<ul class="nav nav-tabs">
        			<li><a ui-sref='shirts'>All Shirts</a></li>
        			<li><a ui-sref='black'>Black Shirts</a></li>
        			<li><a ui-sref='signin'>Sign In</a></li>
        			<li><a ui-sref='signout'>Sign Out</a></li>
      			</ul>

	    </div>
	    	<div class="row">
	      <div class="col-md-4">
	        <div ng-controller="ShirtController">
	          <h2>Show Us Your Best Fred</h2>
	          <img src="{{currentLink}}" height="300" width="300"/>
	          <br></br>
	          <form class="form-inline">
	            <input class="form-control" ng-model="imgLink" placeholder="share a Fred"/>
	            <button class="btn btn-success" ng-click="submitPic()">Fred</button>
	          </form>
	        </div>
	      </div>
	  	  <div class="col-md-6">
	  	    <div ng-controller="CommentsController">
	  	      <h2>Praise Fred</h2>
	  	      <form class="form-inline">
	            <input class="form-control" ng-model="commentText" type="text" placeholder="Praise Fred" />
	            <button class="btn btn-success" ng-click="submitComment()">Fred</button>
	          </form>
	          <ul>
	      	    <li ng-repeat="comment in commentBucket" source="funsies">{{comment.author}}: {{comment.text}}</li>
	          </ul>
		    </div>
		  </div>
      </div>
    </div>


    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngFx/dist/ngFx.js"></script>
    <script src="funsies/funsies.js"></script>
  </body>
</html>