<html ng-app="funsies">
    <head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
  <body>
    <div class="container">
	    <h1>IS FRED'S SHIRT BLACK TODAY?</h1>
	    <div class="row">
	    	<div class="col-md-6">
				<ul class="nav nav-tabs">
        			<li><a ui-sref='shirts'>All Shirts</a></li>
        			<li><a ui-sref='black'>Black Shirts</a></li>
        			<li><a ui-sref='signin'>Sign In</a></li>
        			<li><a ui-sref='signout'>Sign Out</a></li>
      			</ul>
      		</div>
      		
	    </div>
		<div class="row">
		    <div class="col-md-2 form-inline">
		    	<div ng-controller="VoteController">
	      			<div>
	      				<button ng-disabled="unclickable" ng-model="unclickable" class="btn btn-success" ng-click="yesIncrement()">YES</button>
	      				<h2>{{yesSir}}</h2>
	      				<button ng-disabled="unclickable" ng-model="unclickable" class="btn btn-success" ng-click="noIncrement()">NO</button>
	      				<h2>{{noSir}}</h2>
	      			</div>
	      		</div>
	      	</div>

      		<div ui-view class="col-md-10"></div>
  		</div>
	</div>
   

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngFx/dist/ngFx.js"></script>
	<script src="funsies.js"></script>
  </body>
</html>